.add-form form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
.add-form form input {
  width: 40%;
  padding: 8px;
  margin: 10px 0;
}
.add-form form textarea {
  width: 40%;
  padding: 8px;
  margin: 10px 0;
}
.confirm-form form {
  display: flex;
  max-width: 100%;
  flex-direction: column;
}
.confirm-form form textarea,
.confirm-form form input {
  width: 80%;
  padding: 8px;
  margin: 10px 0;
}
